<!--
  Generated template for the TutorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Instructor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
 
 <ion-item >
    <ion-avatar item-start>
      <img src="assets/img/muz.png">
    </ion-avatar>
    <h2>Assosiate Prof. Wan Muzaffar</h2>
    <h3>Course: ADA 1006 Javascript</h3>
    <p>Lastest online: November 5, 1955</p>
  </ion-item>

<!--segment-->

 <div padding>
  <ion-segment [(ngModel)]="course">
    <ion-segment-button value="forum">
      Forum
    </ion-segment-button>
    <ion-segment-button value="file">
      File
    </ion-segment-button>
     <ion-segment-button value="classmate">
      Classmates
    </ion-segment-button>
  </ion-segment>
</div>

<!--segment-->

<!--list-->

<div [ngSwitch]="course">
<div *ngFor="let course of courses">
	<ion-list *ngSwitchCase="'forum'">
		<ion-item>
			<ion-avatar item-start>
				<img src="assets/img/muz.png">
			</ion-avatar>
			<!--<h2>{{course.lecturers[0]}}</h2>-->
			<p *ngIf="course.comment[0]"> {{course[0].comment[0].comment_text}}</p>
		</ion-item>

	</ion-list>

</div>
	<ion-list *ngSwitchCase="'file'">
		<ion-item>
			<ion-thumbnail item-start>

			</ion-thumbnail>
			<h2>Rubric for Project</h2>
		</ion-item>
	</ion-list>

	<ion-list *ngSwitchCase="'classmate'">
		<ion-item-sliding>
			<ion-item>
				<ion-avatar item-start>
				<img src="assets/img/barrett.jpg">
				</ion-avatar>
				<h2>Nikki</h2>
			</ion-item>
			<ion-item-options side="right" >
				<button ion-button color="primary" (click)="sendSMS()">
					<ion-icon name="text" ></ion-icon>
					Text
				</button>

				<button ion-button color="secondary"  (click)="callIT('tel:+1-1800-555-5555')">
				<a href="tel:+123#456-789">
					</a>
					<ion-icon name="call"></ion-icon>
					Call
				</button>
			</ion-item-options>
		</ion-item-sliding>

		<ion-item-sliding>
			<ion-item>
				<ion-avatar item-start>
				<img src="assets/img/venkman.jpg">
				</ion-avatar>
				<h2>Faizah</h2>
			</ion-item>
						<ion-item-options side="right" >
				<button ion-button color="primary" (click)="sendSMS()">
					<ion-icon name="text" ></ion-icon>
					Text
				</button>

				<button ion-button color="secondary"  (click)="callIT('tel:+1-1800-555-5555')">
				<a href="tel:+123#456-789">
					</a>
					<ion-icon name="call"></ion-icon>
					Call
				</button>
			</ion-item-options>
		</ion-item-sliding>


	</ion-list>

 
 </div>

<button ion-button full colour="default" (click)=itemTapped()> My Attendance</button>
</ion-content>
